<!-- <section class="py-5">
    <app-gif-list [imageUrls]="gifsService.trendingGifs()"/>
</section> -->



<div class="grid grid-cols-2 md:grid-cols-4 gap-4 py-5">

    @for (group of gifsService.trendingGifsGroup(); track $index) {
        <div class="grid gap-4">
            @for (gif of group; track gif.id) {
                <div>
                    <img class="h-full w-full rounded-lg object-cover" 
                        [src]="gif.url" 
                        [alt]="gif.title"
                    >
                </div>
            }
        </div>
    }
    
</div>
