<h3>{{listName()}}</h3>
        <ul>
            @for (character of characters(); track character.id; let idx = $index) {
                @if(character.power > 6000){
                    <li>
                        <span>{{idx + 1}} - {{ character.name }}</span>
                        <strong 
                            [class.text-danger]="character.power > 9000"
                            [class.text-primary]="character.power <= 9000"
                            
                        > 
                            ({{character.power}})
                        </strong>
                </li>
                } @else{
                    <li>
                        <strong>El poder de {{ character.name }} es muy bajo</strong>
                    </li>
                }
            }
        </ul>