/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
    --font-poppins: Poppins, sans-serif;
}

@plugin "daisyui" {
    themes: cupcake --default;
}

@layer base {
    @font-face {
        font-family: "Poppins";
        src: url("/assets/fonts/Poppins-Regular.ttf") format("truetype");
    }
}